.preview {
  display: grid;
  min-inline-size: min(18rem, calc(100vw - 2 * var(--spacing-3)));
  gap: var(--spacing-3);
  padding: var(--spacing-3);
}

.physicalAction {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
